.offcanvas {
    width: 22rem !important;
}

.app-canvas-body {
    /* background: linear-gradient(rgba(36, 36, 36, 0.6), rgba(36, 36, 36, 0.6)),  url(https://images.unsplash.com/photo-1687510425228-912d7947f32f?q=80&w=387&auto=format&fit=crop); */
    background: linear-gradient(rgba(36, 36, 36, 0.6), rgba(36, 36, 36, 0.6)),  url(/public/assets/images/samples/vegetables.jpg);
    color: #fff !important;
}

.app-header-brand {
    color: #000 !important;
    text-wrap: wrap !important;
}

.app-header-lang {
    color: #000 !important;
    right: 1rem;
    position: relative;
}

.app-icon-15 {
    width: 1.5rem !important;
    height: 1.5rem !important;
}

#appNavbar {
    box-shadow: 0 0 10px 0 #000c;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1030;
    background-color: #fff;
}